.DS_store

# default directory for virtualenv
env

# managed by vim's package manager.
dotfiles/vim/bundle/*
dotfiles/vim/.netrw*

# ignore python compiled stuff
*.py[co]

# managed by tmux's package manager.
dotfiles/tmux/plugins
dotfiles/tmux/resurrect
