.DS_store
.dropbox
.svn

# managed by Vim Addon Manager (VAM)
dotfiles/.vim/bundle

# managed by EMACS's package.el
dotfiles/.emacs.d/elpa
dotfiles/.emacs.d/ido.last

# ignore python compiled stuff
*.py[co]
